@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.subdashboard {
    width: 85vw;
    height: 100vh;
    margin-left: 250px;
    background-color: #dadada;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}

.finance-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.year-graph {
   grid-row: span 7;
   grid-column: span 8;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   background: rgb(182, 182, 255);
}

.monthly-figures {
    grid-row: span 5;
    grid-column: span 8;
    background: rgb(181, 140, 181);
}

.macro-dashboard {
    grid-row: span 6;
    grid-column: span 4;
    background: rgb(188, 255, 188);
}

.tax-container {
    grid-row: span 6;
    grid-column: span 4;
    background: rgb(255, 179, 179);
}



