.menu-bar{
    width: 100%;
    height: 50px;
    background-color: #f7f7f7;
    justify-content: flex-start;
}

.nav-item{
    height: 50px;
    width: 120px;
    list-style: none;
}

.nav-item:hover{
    border-bottom: 2px solid gray;
    cursor: pointer;
}