.tutorial-container {
    width: 50vw;
    min-width: 200px;
    height: fit-content;
    position: relative;
}

.image-container {
    width: 100%;
    height: 50%;
    min-height: 50%;
    overflow: hidden;
}

.image-container img {
    width: 80%;
   
}

.demo-gif {
    width: 80%;
}

.description {
    width: 80%;
    height: fit-content;
    text-align: center;
    font-size: 1em;
    line-height: 30px;
    display: flex;
    align-items: flex-start;
    border-top: 1px solid rgb(177, 177, 177);
    padding-top: 10px;
    margin-top: 25px;
    margin-bottom: 75px;
}

.description p {
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    color: #393939;
    font-size: 1.8em;
    position: absolute;
    bottom: 0;
    padding: 5px;
}

.arrow:hover {
    color: #555555;
}

.back {
    left: 0;
}

.forward {
    right: 0;
}

.progress {
    width: 150px;
    height: 50px;
    background: white;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0px;
}

.circle {
    height: 8px;
    width: 8px;
    border-radius: 4px;
}

.fill {
    background: black;
}

.unfill {
    background: #9b9b9b;
}

.done-button {
    position: absolute;
    bottom: 0;
    right: 0;
}