
.client-container{
    width: 100%;
    position: relative;
    animation: fadeUpIn 150ms ease-in; 
    overflow-y: visible;
}

.client{
    width: 90%;
    height: fit-content;
    min-height: 60px;
    background-color: #f1f1f1;
    margin: 2% 0%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    flex-grow: 1;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    width: 150px;
    max-width: 150px;
    margin: 10px 0px;
}

.small-item {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
}

.item p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.settings {
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1em;
    position: relative;
}
.settings:hover {
    cursor: pointer;
}

.location i {
    margin-right: 5px;
}

.total i {
    margin-right: 7px;
}

.total:hover * {
    color: #676767;
    cursor:pointer;
}

.location:hover * {
    color: #676767;
    cursor:pointer;
}

.bubble {
    width: fit-content;
    padding: 2px 10px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    font-weight: 600;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.Green {
    background: #606f57;
}

.Blue {
    background: #417285;
}

.Goldenrod {
    background: #dcab41;
}

.Sandstone {
    background: #c17258;
}

.LightBlue {
    background: #7e999b;
}

.LightGreen {
    background: #879a71;
}

.client-edit {
   right: 0;
}

@media (max-width: 576px) { 
    .client-container {
        overflow-x: hidden;
    }
    .client {
        padding: 20px;
        overflow-y: visible;
    }
    .item {
        display: flex;
        
        flex-grow: 0.5;
        margin: 20px 0px;
    }
}

@keyframes fadeUpIn {
    from {top: 20px; opacity: 0.8}
    to {top: 0px; opacity: 1}
}