.clientcontainer{
    width: 100%;
    display: flex;
    position: relative;
    animation: fadeUpIn 0.1s ease-in;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.client{
    width: 90%;
    height: 40px;
    margin: 50px 0px;
    padding: 0px 30px;
    background-color: #e8e8e8;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.item {
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0;
    width: 180px;
    max-width: 180px;
    margin: 0px 5px;
}

.settings {
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1em;
    margin-left: 20px;
}
.settings:hover {
    cursor: pointer;
}

.location i {
    color: gray;
    margin-right: 5px;
}

.location:hover * {
    color: #007bff;
    cursor:pointer;
}


.package {
   margin-right: 30px;
}
.bubble {
    width: fit-content;
    padding: 2px 10px;
    background-color: #663ef7;
    color: white;
    border-radius: 15px;
    font-weight: 700;
}

.Purple {
    background: #606f57;
}

.Blue {
    background: #417285;
}

.Red {
    background: #dcab41;
}

.Green {
    background: #c17258;
}

.Orange {
    background: #7e999b;
}

.Gray {
    background: #879a71;
}

@keyframes fadeUpIn {
    from {top: 20px; opacity: 0.8}
    to {top: 0px; opacity: 1}
}