.clientcontainer{
    width: 100%;
    display: flex;
    position: relative;
    animation: fadeUpIn 0.1s ease-in;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.client{
    width: 90%;
    height: 40px;
    margin: 50px 0px;
    padding: 0px 30px;
    background-color: #e8e8e8;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item {
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0;
    width: 180px;
}

.settings {
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1em;
    margin-left: 20px;
}

.package {
   margin-right: 30px;
}
.bubble {
    width: fit-content;
    padding: 2px 10px;
    background-color: rgb(102, 62, 247);
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

@keyframes fadeUpIn {
    from {top: 20px; opacity: 0.8}
    to {top: 0px; opacity: 1}
}