@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.subdashboard {
    width: 85vw;
    height: 100vh;
    background-color: #dadada;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}