.payment-container {
    width: 600px;
    height: 450px;
    font-family: 'Open Sans';
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.payment-top-row-container {
    width: 100%;
    height: 50px;
    margin: 20px 0px;
}

.payment-table {
    width: 100%;
    height: 210px;
    overflow-y: scroll;
    padding: 10px 10px;
}


.react-date-picker__inputGroup__month {
    width: max-content !important;
    text-align: center;
}
.react-date-picker__inputGroup__day {
    width: max-content !important;
    text-align: center;
}

.react-date-picker__inputGroup__year {
    width: max-content !important;
    text-align: center;
}

.react-date-picker__wrapper {
    align-items: center;
    padding: 2px;
    border: none !important;
}

.react-date-picker__clear-button {
    display: none;
}

.react-date-picker__calendar * {
    font-family: 'Open Sans';
}

.react-date-picker__calendar {
    position: absolute;
}

.add-pay {
    font-size: 1.3em;
    position: absolute;
    right: 20px;
}

.add-pay:hover {
    color: #4b4b4b;
}

.top-row-input {
   margin-bottom: 50px !important;
}

.row-input {
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
}

.row-input:focus {
    border-bottom: 2px solid #5959b6;
}

.progress-bar {
    height: 20px;
    width: 50%;
    overflow: hidden;
    border-radius: 3px;
    background: #dcdcdc;
    position: relative;
}

.progress-completed {
    height: 100%;
    min-width: 25%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: 600;
}

.progress-completed p {
    margin: 0px 2px;
}


.no-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: 600;
    color: black;
}

.row {
    width: 100%;
    height: 40px;
    background: #f9f9f9;
    margin: 10px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: visible;
}

.row:nth-child(odd){
    background: #ebebeb;
}

.pay {
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pay-amount {
    width: 20%;
    font-weight: 600;
    border-right: 1px solid #cdcdcd;
    justify-content: center;
    cursor: pointer;
}

.pay-date {
    width: 30%;
    justify-content: center;
    border-right: 1px solid #cdcdcd;
    position: relative;
    overflow: visible;
}

.pay-description {
    width: 50%;
    padding-left: 20px;
    justify-content: flex-start;
    cursor: pointer;
}

.payment-save-btn {
    padding-bottom: 10px;
}

.row-delete {
    position: absolute;
    right: 20px;
    font-size: 0.9em;
    color: #606060;
}

.row-delete:hover {
    color: black;
}
