.subscription-modal {
    width: fit-content;
    min-width: 400px;
    position: relative;
    display: flex;
    background: #f2f2f2;
    padding: 5%;
}

.mod-title {
    font-size: 1.5em;
    font-family: 'Open Sans';
    font-weight: 700;
    margin-bottom: 30px;
}

.sub-card-container {
    border: 2px solid #878787;
    border-radius: 5px;
    padding: 0% 5%;
    min-width: 400px;  
    margin-bottom: 5%;
}

.button-container {
    width: 400px;
    justify-content: space-evenly;
    margin-top: 10%;
}

.button-container button {
    font-family: 'Open Sans';
    width: fit-content;
}

.cancel-update {
    margin-top: 3%;
}

.cancel-sub-modal {
    width: 30vw;
    padding: 5%;
}

.cancel-sub-modal p {
    font-size: 1.2em;
    line-height: 150%;
    margin-top: 5%;
    margin-bottom: 10%;

}

.sub-info {
    font-size: 1.2em;
    margin: 30px 0px;
    color: black;
}

.subscription-modal i {
    margin: 0px 5px;
}
