/* TODO: Bring over CSS from Clients.css  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.client-modal-container {
    width: 50vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    column-gap: 20px;
    padding: 0px 20px;
    font-family: 'Open Sans';
}

.addclientmodal{ 
    width:25vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    padding-bottom: 20px;
    grid-column: 1;
}

.action-panel {
    grid-column: 2;
    width: 25vw;
    height: 300px;
    overflow-y: scroll;
}

.sessionmenu{
    margin-bottom: 20px;
}

.clientinput {
    margin-top: 20px;
}

.location-search-input {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.autocomplete-dropdown-container {
    width: 90%;
    position: absolute;
    z-index: 2;
    color: white;
}

.suggestion-item {
    background: black;
    padding: 10px 15px;
}

.suggestion-item--active {
    background: #292929;
    padding: 10px 15px;
}