@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.app{
    display: grid;
    overflow-x: hidden;
    grid-template-rows: 10vh 90vh;
    font-family: 'Open Sans';
}

.header{
   grid-row: 1;
   border-bottom: 1px solid #e2e2e2;
   display: grid;
   grid-template-columns: 15vw 85vw;
   grid-template-rows: 1;
}

.logo {
    font-weight: 600;
   letter-spacing: 5px;
   font-size: 1.5em;
    display: grid;
    grid-column: 1;
    justify-content: center;
    align-content: center;
}

nav {
    font-size: 0.8em;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

nav li {
    list-style: none;
    margin: 0px 40px;
    letter-spacing: 2px;
    color: #989898;
    text-decoration: none;
}

nav li:hover {
    color: black;
    cursor: pointer;
}

nav button {
    margin: 0 40px;
    letter-spacing: 1px;
}


.body{
    grid-row: 2;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 30vw 70vw;
    animation: fadeIn 0.8s linear;
}

.introtext{
    display: grid;
    align-self: center;
    padding-left: 50px;
    grid-column: 1;
    font-size: 2.5em;
    font-family: 'Playfair Display';
    line-height: 1.1em;
    position: relative;
    animation: moveUp 0.8s linear;
}

.mainimage{
    width: 60vw;
    height: 90vh;
    display: grid;
    grid-column: 2;
    justify-self: flex-end;
    object-fit: cover;
}


@media (max-width: 576px) { 
    nav {
        display: none;
    }
    .logo{
        margin-left: 50px;
    }
    .app {
        grid-template-columns: 1;
    }
    .body {
        grid-template-columns: 100vw;
        grid-template-rows: 50vw 50vw;
    }
    .introtext{
        font-size: 2em;
        margin-left: -20px;
    }
    .mainimage{
        grid-row: 2;
        grid-column: 1;
        width: 100vw;
        height: 60vh;
    }

 }

 @keyframes fadeIn {
     from{opacity: 0}
     to{opacity: 1}
 }

 @keyframes moveUp{
     from{top: 30px}
     to{top: 0px}
 }