@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,600,700');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display: 300');

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');

.home{
    display: grid;
    overflow-x: hidden;
    grid-template-rows: 10vh 90vh;
    font-family: 'Open Sans';
  }

.body{
    grid-row: 2;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 30vw 70vw;
}

.intro-container {
    display: grid;
    align-content: center;
    padding-left: 50px;
    grid-column: 1;
}
.intro-text{
    font-size: 2.5em;
    font-family: 'Playfair Display';
    letter-spacing: 1px;
    line-height: 1.1em;
    border-bottom: 1px solid rgb(186, 186, 186);
    padding-bottom: 10%;
}

b {
    font-weight: bold;
}

.join-now {
   font-family: 'Open Sans';
   font-size: 1.3em;
   line-height: 1.3em;
   margin-top: 10%;
   font-weight: 100;
   margin-bottom: 5%;
}

.join-btn {
    width: 10vw;
}

.main-image{
    width: 60vw;
    height: 90vh;
    display: grid;
    grid-column: 2;
    justify-self: flex-end;
    object-fit: cover;
}


@media (max-width: 576px) { 
    
    nav {
        display: none;
    }
    .logo{
        margin-left: 50px;
    }
    .app {
        grid-template-columns: 1;
    }
    .body {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 55vw 50vw;
    }
    .intro-text{
        font-size: 2em;
        margin-left: -20px;
    }
    .main-image{
        grid-row: 2;
        grid-column: 1;
        width: 100vw;
        height: 60vh;
    }

 }

 @keyframes fadeIn {
     from{opacity: 0}
     to{opacity: 1}
 }
