.contact {
    justify-content: flex-start;
    background-color: #f9f6f6;
}

.title-header{
    width: 100%;
    height: 10vh;
    background-color: black;
}

.contact-form{
    width: 60vw;
    margin-top: 60px;
}

.contact-title{
    font-size: 25px;
    font-family: 'Josefin Sans';
    font-weight: 700;
    letter-spacing: 6px;
    color: white;
}

.contact-form-title{
    width: 100%;
    height: 15vh;
    padding: 0px 300px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.contact-form-title p {
    font-size: 1.2em;
    line-height: 30px;
}

form {
    text-align:center;
}

.message-box{
    width: 60vw;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    margin-top: 20px;
}

textarea {
    resize: none;
    padding: 10px 10px;
}

.send-button {
    width: 30vw;
    margin-top: 20px;
    background-color: black;
}


@media (max-width: 576px) { 
    .contact {
        width: 100vw;
        height: 130vh;
    }
    .title-header {
        width: 100vw;
    }
    .contact-form{
        height: 60vh;
        width: 90vw;
        margin-top: 130px;
    }
    .contact-form-title {
        width: 90vw;
        padding: 0px 20px;
        margin-top: 120px;
    }
    #contact-form-control {
       display: grid;
       grid-template-columns: 100%;
       grid-template-rows: repeat(12, 1fr);
       width: 90vw;
       height: 50vh;
    }
    .form-control {
        width: 90vw;
        margin: 10px 0px;
    }
    .message-box {
        width: 90vw;
        height: 20vh;
    }
    .send-button {
        width: 90vw;
    }

}