.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
}

.input-box {
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px;
    padding-left: 10px;
    padding-right: 50px;
    margin: 10px 0px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;  
}

.input-box:focus {
    outline: none;
    border: 1px solid #9a9a9a;
}


