.header{
    grid-row: 1;
    border-bottom: 1px solid #e2e2e2;
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 1;
    padding-right: 20px;
 }
 
 .logo-container {
    grid-column: 1;
    

 }

 .logo {
     font-weight: 700;
    letter-spacing: 5px;
    font-size: 1em;
     font-family: 'Josefin Sans';
     cursor: pointer;
     
 }

 .logo-image {
     width: 60px;
     margin-right: 20px;
     margin-bottom: 5px;
 }
 
 nav {
     font-size: 0.8em;
     font-weight: 700;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin-right: 50px;
 }
 
 nav li {
     list-style: none;
     margin: 0px 40px;
     letter-spacing: 2px;
     font-family: 'Josefin Sans';
     color: #989898;
     text-decoration: none;
 }
 
 nav li:hover {
     color: black;
     cursor: pointer;
 }
 
 nav button {
     margin: 0 40px;
     letter-spacing: 1px;
 }



 @media (max-width: 576px) { 
    nav li {
        display: none;
    }
    .log-in-button{
        display: none;
    }
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-container {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}