@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,600,700');

.sidebar{
    width: 250px;
    height: 100vh;
    border-right: 1px solid #e2e2e2;
    font-family: 'Open Sans';
    position: fixed;
}
.topbar{
    height: 50px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.topbar i:hover {
    color: #919191;
    cursor: pointer;
}
.profileimage{
    width: 30px;
    border-radius: 25px;
}
.menuitem {
    width: 100%;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid rgb(221, 221, 221);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    cursor: pointer;
}
.menuitem:hover .add-client-list{
    opacity: 1;
}

.menuitem i {
    margin-right: 10px;
}

.listitem{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 0.9em;
    cursor: pointer;
}

.listitem:hover {
    background-color: #f9f6f6;
    border-right: 4px solid #808080;
}

.current-list {
    background-color: #f9f6f6;
    border-right: 4px solid #808080;
}

.add-client-list {
    position: absolute;
    right: 10px;
    color: #808080;
    opacity: 0;
}

.add-client-list:hover {
    color: #007bff;
    font-size: 1.2em;
}

.list-modal {
    width: 30vw;
    min-width: 400px;
    height: fit-content;
    padding-bottom: 10px;
}

.modal-title {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.modal-title i {
    margin-right: 10px;
}

.clientinput{
    width: 100%;
}

.add-client-in-list {
    opacity: 0;
    position: absolute;
    right: 20px;
}

.add-client-in-list:hover {
    color: #007bff;
    font-size: 1.2em;
}

.listitem:hover .add-client-in-list {
    opacity: 1;
}

.sidebar-footer{
    background-color: #f9f9f9;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-footer i{
    margin-right: 10px;
}

.sidebar-footer:hover {
    color: #505050;
    cursor: pointer;
}