@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* #f9f6f6; */


.features{
    height: fit-content;
}

.features-grid{
    height: 50vh;
    background-color: #f9f6f6;
    display: grid;
    padding-bottom: 50px;
    grid-template-columns: repeat(12, 1fr);

}

.featureitem {
    height: 10vh;
    grid-column: span 6; 
    text-align: center;
    color: #575757;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.title {
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
}

.featureitem i {
    font-size: 2em;
    margin-bottom: 20px;
}

.action-list {
    height: 60vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100%;
    justify-content: center;
    align-content: center;
}

.action-list-text{
    grid-column: span 5;
    min-width: 500px;
    padding-right: 50px;
    font-size: 30px;
    font-family: 'Playfair Display';
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.action-list-text p {
    margin: 10px 0px;
}

.action-list-image{
    grid-column: span 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-list-image img {
    width: 95%;
    
}

.pricing {
    height: 50vh;
    
}


@media (max-width: 576px) { 
    .features {
        height: fit-content;
    }
    .item {
        grid-column: span 12;
        margin: 50px 0px;
    }
}