@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.dashboard{
    height: 100vh;
    font-family: 'Open Sans';
}
.sidebar{
    width: 200px;
    height: 100vh;
    border-right: 1px solid #e2e2e2;
}