@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.dashboard{
    height: 100vh;
    font-family: 'Open Sans';
}
.sidebar{
    width: 250px;
    height: 100vh;
    border-right: 1px solid #e2e2e2;
}
.topbar{
    height: 50px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.topbar i:hover {
    color: #919191;
}
.profileimage{
    width: 30px;
    border-radius: 25px;
}